body{
    margin:0;
    padding: 0;
    background: rgb(255, 255, 255);
}

#container {
    width: auto;
    height: 800px;
    display: grid;
    grid-template-rows: 7% 5% 8% 75% 5%;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "logo header header" "logo nav nav" "algo conteudo aside" "footer footer footer";

}

.containerLogo{ grid-area: logo;}
.containerHeader{ grid-area: header;}
.containerNav{ grid-area: nav;}
.containerConteudo{ grid-area: conteudo;}
.containerAside{ grid-area: aside;}
.containerBside{ grid-area: algo;}
.containerFooter{ grid-area: footer;}

#logo {
    margin: 5px;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    border-style: inset;
    border-color: rgb(0, 204, 255);
    border-radius: 5px;
}

#header {
    background: rgb(0, 204, 255);
    text-align: center;
    border-style: inset;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
}

#logo img{
    width: 100%;
    height: 100%;
}

#bside img{
    width: 100%;
    height: 100%;
}

#nav {
    background: rgb(0, 0, 0);
    text-align: end;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    border-style: outset;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
}

#nav ul {
    padding: 0;
    width: auto;
    height: 100%;
}

#nav li {
    display: inline;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#nav li a {
    padding: 0;
    margin-right: 15px;
    text-decoration: none;
    color:rgb(0, 204, 255);
}

#nav li a:hover {
    text-decoration: none;
    color: rgb(7, 7, 7);
    background-color: rgb(255, 255, 255);
}

#conteudo{
    width: auto;
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

#aside{
    margin: 10px;
    width: auto;
    height: 100%;
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100%;
}

#aside img {
    width: 100%;
    height: 100%;
}

#bside {
    text-align: center;
    border-style: outset;
    border-color: rgb(0, 204, 255);
    border-radius: 5px;
    margin: 0 5px 1px 5px;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 1;
}

.styleproduto ul {
    width: 20%;
    height: 300px;
    padding: 0px;
    margin: 10px 20px 10px 20px;
    float: left;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.3);
    display: grid;
    align-content: flex-end;
}

.styleproduto li {
    text-decoration: none;
    list-style: none;
    color:rgb(0, 4, 255);
}

.styleproduto img {
    width: 100%;
    height: 150px;
    margin: 1px;
}

.styleproduto h5 {
    margin: 1px;
    font-size:20px;
    color:rgb(0, 0, 0);
    display: inline;
    font-family: DejaVu Sans Mono, monospace, Arial, Helvetica, sans-serif;
  }

.stylecrud form {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: repeat(12, 30px) 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 20px 10% 10% 10%;
    background-color: rgba(0, 204, 255, 0.75);
    max-width: 80%;
    padding: 10px 0 10px 0;
}

.stylecrud form label {
    font-size:20px;
    color:rgb(0, 0, 0);
    font-family: DejaVu Sans Mono, monospace, Arial, Helvetica, sans-serif;
}

.stylecrud form input{
    text-align: center;
    max-width: 100%;
}

.stylecliente {
    text-decoration: none;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.styleshow {
    margin: 10px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 100%;
    justify-content:right;
    align-items: center;
    text-decoration: none;
    text-align: left;
    font-size:20px;
    color:rgb(0, 0, 0);
    font-family: DejaVu Sans Mono, monospace, Arial, Helvetica, sans-serif;
}

.styleshow ul, .stylecliente ul, .stylefornecedor ul, .stylecrud ul, .stylevenda ul, .styleendereco ul, .styleitensentrada ul, .styleitensvenda ul{
    padding: 0;
    margin: 0;
    width: 100%;
}

.styleshow img {
    width: 100%;
    height: 300px;
    margin: 1px;
}

.table{
    overflow-y: hidden;
    max-height: 500px;
    border: 1px solid rgb(0, 0, 0);
    background:black;
    color:rgb(0, 204, 255);
    margin: auto;
    width: auto;
}

.button button{
    display: grid;
    margin: 1px;
    width: 99%;
}

#footer {
    background: rgb(0, 0, 0);
    padding: 5px;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
}
