body{
    margin:0;
    padding: 0;
    background: rgb(31, 143, 150, 100%);
}

#container {
    width: auto;
    height: 800px;
    display: grid;
    grid-template-rows: 12% 88%;
    grid-template-columns: 18% 82%;
    grid-template-areas: "nav nav" "aside conteudo";
}

.containerNav{ grid-area: nav;}
.containerConteudo{ grid-area: conteudo;}
.containerAside{ grid-area: aside;}

#aside {
    width: auto;
    height: 710px;
    background: rgb(37, 96, 100, 100%);
    display: grid;
    grid-template-rows: 15% 75% 10%;
    grid-template-columns: 100%;
    align-items: center;
}

#aside li a {
    text-decoration: none;
}

#aside li {
    text-decoration: none;
}

#aside li a:hover {
    text-decoration: none;
}

#nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background: rgb(37, 118, 123, 100%);
}

#nav img {
    margin: 15px 0px 15px 30px;
    align-items: center;
}

#conteudo{
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: rgb(255, 254, 254);
    border-top: solid 10px rgb(37, 118, 123, 100%);
}

.dashboard {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 50px 30px 150px 30px 150px 30px 150px;
    text-decoration: none;
}

.dashboard #um li{
    display: flex;
    align-items:flex-start;
    list-style-type: none;
}

.dashboard #um img {
    margin-left: 40px;
    object-fit: cover;
}

.dashboard #dois li{
    display: inline;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.dashboard #dois img{
    max-width: 11%;
    height: auto;
    margin-left: 5px;
    object-fit: cover;
}

.stylevendas {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 50px 600px;
    text-decoration: none;
}
.stylevendas #um li{
    display: flex;
    align-items:flex-start;
    list-style-type: none;
}

.stylevendas #um img {
    margin-left: 40px;
    object-fit: cover;
}

.styleprodutos {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 50px 600px;
    text-decoration: none;
}

.styleprodutos #um li{
    display: flex;
    align-items:flex-start;
    list-style-type: none;
}

.styleprodutos #um img {
    margin-left: 40px;
    object-fit: cover;
}

.styleclientes {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 50px 600px;
    text-decoration: none;
}

.styleclientes #um li{
    display: flex;
    align-items:flex-start;
    list-style-type: none;
}

.styleclientes #um img {
    margin-left: 40px;
    object-fit: cover;
}

.stylefornecedor {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 50px 600px;
    text-decoration: none;
}

.stylefornecedor #um li{
    display: flex;
    align-items:flex-start;
    list-style-type: none;
}

.stylefornecedor #um img {
    margin-left: 40px;
    object-fit: cover;
}

.stylecategorias {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 50px 600px;
    text-decoration: none;
}

.stylecategorias #um li{
    display: flex;
    align-items:flex-start;
    list-style-type: none;
}

.stylecategorias #um img {
    margin-left: 40px;
    object-fit: cover;
}

.stylefuncionarios {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 50px 600px;
    text-decoration: none;
}

.stylefuncionarios #um li{
    display: flex;
    align-items:flex-start;
    list-style-type: none;
}

.stylefuncionarios #um img {
    margin-left: 40px;
    object-fit: cover;
}

.stylecompras {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 50px 600px;
    text-decoration: none;
}

.stylecompras #um li{
    display: flex;
    align-items:flex-start;
    list-style-type: none;
}

.stylecompras #um img {
    margin-left: 40px;
    object-fit: cover;
}

.stylefinancas {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 50px 600px;
    text-decoration: none;
}

.stylefinancas #um li{
    display: flex;
    align-items:flex-start;
    list-style-type: none;
}

.stylefinancas #um img {
    margin-left: 40px;
    object-fit: cover;
}

.stylerelatorios {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 50px 600px;
    text-decoration: none;
}

.stylerelatorios #um li{
    display: flex;
    align-items:flex-start;
    list-style-type: none;
}

.stylerelatorios #um img {
    margin-left: 40px;
    object-fit: cover;
}

#aside {
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}

.table{
    overflow-y: hidden;
    max-height: 500px;
    border: 1px solid rgb(0, 0, 0);
    background:black;
    color:rgb(0, 204, 255);
    margin: auto;
    width: auto;
}

.button button{
    display: grid;
    margin: 1px;
    width: 99%;
}

